[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-consul2 = "*"
confluent-kafka = "*"
avro = "*"
python-schema-registry-client = {extras = ["faust"], version = "==v1.9.0"}

[dev-packages]

[requires]
python_version = "3.7.10"
